<% include ./partials/header.ejs %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1556513584-e1cf4603b0ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <% data.forEach( (d)=>{ %>
    <div class="row">
        <div class="col-lg-3 col-md-2 mx-auto">
            <img class="img-thumbnail" src="<%= d.postImage %>" alt="blog images">
        </div>
        <div class="col-lg-9 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        <%= d.postTitle %>
                    </h2>
                    <h3 class="post-subtitle">
                        Problems look mighty small from 150 miles up
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">Start Bootstrap</a>
                    on September 24, 2019</p>
            </div>
            <hr>
        </div>
    </div>
    <% }); %>
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
</div>

<hr>

<% include ./partials/footer.ejs %>

